html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
}

ol {
  list-style-type: none;
}

a {
  color: #8f2440;
  text-decoration: underline;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

main {
  font-family: "PT serif", serif;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.125rem;
  font-family: "PT+Sans", sans-serif;
}

figcaption {
  font-style: italic;
}

figure + p {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

strong {
  font-weight: normal;
}

footer {
  font-size: 0.8rem;
}

h2 + ol{
  list-style-type: lower-greek;
}

h2 + p {
  font-style: italic;
}

dt {
  font-weight: bold;
}

ul {
  list-style-type: disc;
}
